@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nabla&family=Roboto:wght@500&display=swap');

body {
    background-color: rgb(27, 27, 27);
}

.main-head {
    text-align: center;
    font-family: 'Nabla', cursive;
    font-size: 3rem;
}

.tracklist_item {
    border: solid 2px #fff;
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-left: 0;
    padding: 5px;
    min-height: 50px;
}

.tracklist {
    list-style-type: none;
    width: 100%;
}

.tracklist_item>div {
    color: #fff;
    width: 100px;
}

.tracklist_item-head>div {
    color: rgb(243, 194, 32);
    width: 100px;
    text-align: center;
}

.tracklist_item>div {
    width: 100px;
    text-align: center;
}

.tracklist_item {
    font-family: 'Bebas Neue', cursive;
    align-items: center;
}

.tracklist_item:hover,
.tracklist_item:active {
    background-color: rgba(243, 194, 32, 0.3);;
}

.tracklist_item-head {
    font-size: 1.6rem;
}
form>button {
    border: solid 2px #fff;
    border-radius: 5px;
    background: none;
    font-size: 2rem;
    color: rgb(243, 194, 32);
    font-family: 'Bebas Neue', cursive;
    padding: 5px;
    width: 100%;
    margin-bottom: 10px;
}

form>button:hover,
form>button:active {
    background-color: rgba(243, 194, 32, 0.3);
}

.matched {
    background-color: rgba(29, 235, 29, 0.459);
}

/* LOADER */

#loader_wrapper {
    display: flex;
    justify-content: center;
    opacity: 0;
}

.loading {
    opacity: 1!important;
}

.lds-spinner {
    color: official;
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }